/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Variables and reset */
:root {
  --color-blue: #004B87;
  --color-yellow: #FFC200;
  --color-black: #171717;
  --color-white: #f1f1f1;
  --text-shadow: 2px 2px 2px var(--color-black);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-black);
  background: var(--color-white);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Utilities and components */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

h1, .h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
}

h2, .h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 500;
}

h3, .h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
}

button, .button {
  display: block;
  border: 3px solid transparent;
  background: var(--color-blue);
  font-family: "Roboto", sans-serif;
  color: var(--color-white);
  font-size: 20px;
  line-height: 1;
  padding: 17px 30px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover, .button:hover {
  color: var(--color-yellow);
}

.button--yellow {
  background: var(--color-yellow);
  color: var(--color-black);
}

.button--yellow:hover {
  color: var(--color-blue);
  border-color: var(--color-blue);
}

/* HEADER */
.header {
  background: var(--color-blue);
  position: relative;
}

.header__content {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 28px;
  color: var(--color-yellow);
  text-decoration: none;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav-link {
  font-size: 22px;
  color: var(--color-white);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

.header__nav-link:hover {
  border-color: var(--color-yellow);
}

.header__menu-btn {
  display: none;
  padding: 0;
  border: none;
  background: none;
}

.header__menu-btn__icon {
  width: 40px;
}

#menu.menu--open {
  display: flex;
}

/* HERO */
.hero {
  background-image: url("./assets/img/sweden-flag.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 74, 135, 0.5);
  z-index: 0;
}

.hero__content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
}

.hero__title {
  color: var(--color-yellow);
  text-shadow: 2px 2px 1px black;
}

.hero__text {
  color: var(--color-white);
  font-size: 22px;
  max-width: 800px;
  line-height: 1.5;
}

.hero__btn {
  border-color: rgba(255, 255, 255, 0.25);
  display: inline-block;
  text-decoration: none;
}

.hero__btn:hover {
  border-color: var(--color-yellow);
}

.hero__img {
  border-radius: 10px;
}

/* PLANNING */
.planning {
  margin: 100px 0;
}

.planning__title {
  color: var(--color-blue);
  margin: 0;
}

.planning__flex {
  display: flex;
  align-items: center;
  gap: 50px;
}

.planning__text {
  max-width: 60%;
  text-align: justify;
}

.planning__infobox {
  background: var(--color-blue);
  padding: 30px 80px;
  border-radius: 10px;
  position: relative;
}

.planning__infobox::before {
  position: absolute;
  content: "💡";
  top: 5px;
  right: 0;
  font-size: 50px;
}

.planning__infobox-title {
  color: var(--color-yellow);
  text-shadow: var(--text-shadow);
  font-size: 30px;
  text-align: center;
  min-width: 200px;
}

.planning__infobox-text {
  color: var(--color-white);
  text-align: center;
}

/* BUDGET */
.budget {
  padding: 100px 0;
  background: var(--color-blue);
}

.budget__title {
  color: var(--color-yellow);
  margin-bottom: 50px;
}

.budget__steps {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px;
}

.budget__step {
  background: var(--color-yellow);
  border-radius: 10px;
  text-align: center;
  padding: 30px 10px 10px 10px;
}

.budget__step-icon {
  width: 50px;
  margin-bottom: 15px;
  color: red;
}

.budget__step-title {
  color: var(--color-blue);
}

/* TAX-TIPS */
.tax-tips {
  margin: 100px 0;
}

.tax-tips__title {
  color: var(--color-blue);
}

.tax-tips__list {
  padding: 0;
  list-style: square;
  padding-left: 5px;
}

.tax-tips__item {
  font-size: 22px;
  position: relative;
  list-style: none;
  padding-left: 30px;
}

.tax-tips__item::before {
  content: "✔";
  position: absolute;
  left: 0;
  font-size: 22px;
  font-weight: 600;
  color: var(--color-blue);
}

.tax-tips__reminder {
  display: flex;
  align-items: start;
  gap: 10px;
}

.tax-tips__icon {
  width: 30px;
}

.tax-tips__text {
  margin: 0;
}

.tax-tips__text strong {
  color: var(--color-blue);
}

/* CONTACTS */
.contacts {
  padding: 100px 0;
  background: var(--color-blue);
}

.contacts__title {
  color: var(--color-yellow);
  text-align: center;
}

.contacts__text {
  color: var(--color-white);
  text-align: center;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
}

.contacts__form-label {
  display: flex;
  flex-direction: column;
  color: var(--color-yellow);
}

.contacts__form-input {
  margin-top: 10px;
  border: none;
  padding: 10px 15px;
  font-size: 22px;
  border-radius: 10px;
  color: var(--color-blue);
  caret-color: var(--color-blue);
}

.contacts__form-input:focus {
  outline: none;
}

.contacts__form-btn {
  width: 60%;
  margin: 0 auto;
}

.contacts__form-error {
  font-size: 18px;
  color: red;
  padding-top: 10px;
}

.contacts__form-success {
  text-align: center;
  color: rgb(0, 228, 0);
}

/* FOOTER */
.footer {
  padding: 50px 0 30px 0;
  background: var(--color-yellow);
}

.footer__top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.footer__logo {
  font-size: 28px;
  color: var(--color-blue);
  font-weight: 600;
  margin-top: 0;
  line-height: 1;
}

.footer__address {
  margin: 0;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.footer__nav-link {
  text-decoration: none;
  color: var(--color-blue);
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

.footer__nav-link:hover {
  border-color: var(--color-blue);
}

.footer__bottom {
  margin-top: 50px;
}

.footer__copyright {
  margin: 0;
  text-align: center;
  color: rgb(0, 0, 0);
}

/* Media queries */

@media (max-width: 1024px) {
  h1, .h1 {
    font-size: 42px;
  }

  h2, .h2 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .header__content {
    padding: 15px 0;
  }

  .header__menu-btn {
    display: block;
  }

  .header__nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-blue);
    z-index: 99;

    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    gap: 40px;
  }

  .header__nav-link {
    font-size: 26px;
  }
}

@media (max-width: 1024px) {
  .hero__img {
    width: 350px;
  }

  .hero {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .hero__img {
    display: none;
  }

  .hero__title {
    max-width: 600px;
  }

  .hero__text {
    max-width: 500px;
  }
}

@media (max-width: 1024px) {
  .planning {
    margin: 50px 0;
  }

  .planning__flex {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }

  .planning__text {
    max-width: 100%;
  }

  .planning__infobox {
    margin: 0 auto;
  }

  .planning__infobox-title {
    min-width: 0;
  }
}

@media (max-width: 425px) {
  .planning__infobox {
    padding: 30px;
  }
}

@media (max-width: 1024px) {
  .budget {
    padding: 50px 0;
  }

  .budget__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .budget__steps {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .tax-tips {
    margin: 50px 0;
  }
}

@media (max-width: 1024px) {
  .contacts {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .contacts__form {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .contacts__form {
    width: 100%;
  }

  .contacts__form-btn {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .footer__logo {
    width: 100%;
  }

  .footer__address {
    max-width: 250px;
  }
}